* {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.background img {
  width: 275px;
  padding-bottom: 30px;
}

.background p {
  padding-right: 10px;
}

ul {
  list-style: none;
  font-weight: 600;
  padding: 25px;
}

ul a {
  text-decoration: none;
}

li {
  padding: 20px;
  font-size: 18px;
}

a:hover {
  color: blue;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
  padding-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
}

.background {
  background-color: rgba(112, 128, 144, 0.06);
}

.container {
  padding-top: 10px;
}

.contact-container {
  padding: 20px;
  background-color: rgb(112, 128, 144);
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  border-top: solid rgb(82, 75, 75) 1px;
  margin-top: 25px;
}

.name {
  font-weight: bold;
  margin-left: 0;
}

.name-1 {
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
  position: absolute;
  margin-right: 14px;
  right: 20px;
}

.bottom-footer .home-list {
  display: none;
  padding: 0;
}



@media (min-width: 768px) {
  body {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  nav ul,
  .background {
    display: flex;
    justify-content: center;
  }

  .top,
  nav ul,
  .top li {
    background-color: transparent;
  }

  .background {
    flex-direction: row-reverse;
    padding: 0px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .items {
    justify-items: center;
  }

  .hide {
    display: none;
  }

  .bottom-footer p a {
    visibility: hidden;
  }

  .bottom-footer nav ul {
    padding-top: 0;
    padding-right: 0;
    margin-top: 5px;
  }

  .bottom-footer .home-list{
    display: initial;
    padding: 4px;
    padding-top: 10px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 100%;
  }

  .top,
  nav ul {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
  }

  h1 {
    padding-bottom: 25px;
  }

  .top nav ul {
    padding-right: 0;
  }

  li {
    padding: 10px;
  }

  .background {
    padding: 0px;
  }

  .picture {
    max-width: 100%;
  }
  .wrapper {
    max-width: 100%;
  }

  .hide {
    display: none;
  }
  .bottom-footer p a {
    visibility: hidden;
  }

  .bottom-footer nav ul {
    padding-top: 0;
    padding-right: 0;
    margin-top: 5px;
  }
}